<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="APSDEVEntities" connectionString="metadata=res://*/APSDEV.csdl|res://*/APSDEV.ssdl|res://*/APSDEV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.16.90.157\MSDEV;initial catalog=APSDEV;persist security info=True;user id=aps;password=@midea2018@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>