
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align:center; margin:0px auto;">
        <h4>登陆</h4>
        <div>
            <form>
                <div>
                    <span>用户名：</span>
                    <input type="text" name="userName" id="userName" />
                </div>
                <div>
                    <span>密码：</span>
                    <input type="text" name="password" id="password" />
                </div>
                <div>
                    <input type="submit" value="登陆" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
